

body{
    background-color:#CCCCCC;
}

/* Styling the wrapper of the page*/
#wrapper{
    width:1000px;
	margin:0 auto;
	background-color:#FFFFFF;
	 box-shadow: 5px 5px 5px #888888;
     border-radius:2px;
     
    
}

/* styling the header section of the page*/
header{
    padding:10px;
    background-color:#eeeeee;
    border-bottom:1px solid #cccccc;
    margin-bottom:30px;

}
header h1{
    font-size:32px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color:black;
    font-style:italic;
    text-indent:50px;
    text-shadow: 2px 2px #ff0000;

}
header img{
    float:left;
    width:100px;
    height:90px;
    margin-left:20px;
}
/*styling the body section of the page*/


section
{
    width:400px;
    float:left;
    padding:10px;
    margin-left:10px;
    background-color:white;
    border-radius:3px;
    margin-bottom:20px;
    box-shadow:5px 5px 5px #cccccc;
    border:1px dotted #888888;
    

}
section h2{
    text-align:center;
    font-size:26px;
    font-family: 'Courier New', Courier, monospace;
}

section h3{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}
section p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section span{
    color:red;
    font-weight:bold;
}

/* styling the form section of the registration page*/
#form {
    padding:10px;
    box-shadow:5px 5px 5px #cccccc;
    border:1px dotted #888888;
}
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus,input[type=password]:focus {
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
/* styling the navigation */
nav
{
    width:215px;
    padding:20px;
    float:left;
    background-color: white;
    border-radius:3px;
    height:300px;
    box-shadow:5px 5px 5px #cccccc;
    border:1px dotted #888888;
    margin-bottom:20px;
}

nav ul li{
    list-style-type: none;
    padding:10px 0;
    font-size:20px;
    border-bottom:1px solid #cccccc;
}
nav ul li a
{
    text-decoration:none;
}
nav ul li a:link{
    color:green;
}
nav ul li a:active{
    color:red;
}
nav ul li a:visited{
    color:blue;
}

nav ul li a:hover{
    color:black;
}
/*styling the sidebar of the page*/
aside
{
    border-radius:3px;
    background-color: white;
    width:250px;
    padding:20px;
    margin-left:15px;
    float:left;
    height:300px;
    box-shadow:5px 5px 5px #cccccc;
    border:1px dotted #888888;
    margin-bottom:20px;

}

/*styling links of the sidebar*/
 aside ul li{
    list-style-type: none;
    padding:10px 0;
    font-size:20px;
    border-bottom:1px solid #cccccc;
}
 aside ul li a
{
    text-decoration:none;
}
aside ul li a:link{
    color:green;
}
aside ul li a:active{
    color:blue;
}
aside ul li a:visited{
    color:red;
}

 aside ul li a:hover{
    color:black;
}
aside h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
/*styling the footer*/
footer{  
     
    clear:both;
    padding:20px;
    background-color:#eeeeee;
    border-top:1px solid #eeeeee;
    font-size:20px;
    text-align:center;
}
footer span{
    color:red;
}

#errors p{
    color:red;
    font-weight:bold;
    margin-top:-20px;
}